biopython
cmake
cython
h5py
ghostscript
gputil
joblib>=1.3
jupyter
jupyterlab
matplotlib
notebook
numpy
pandas
pyarrow
pyfastx~=1.1
pysam~=0.21.0
pip
scipy
shap==0.44.1
tensorflow[and-cuda]==2.14.0
seqlogo
tqdm
# cudatoolkit~=11.8.0
# cudnn~=8.9.2.26
# cupti~=11.8.0
# gcc~=12.1