biopython
cython
fastcluster
h5py
ghostscript
gputil
joblib~=1.3
jupyter
jupyterlab
mlxtend
numpy
pandas
pybedtools~=0.9.0
pyfastx~=1.1.0
pysam
pytest
pip
pybedtools~=0.9
scipy
scikit-learn~=1.3
tensorflow~=2.13.0
seqlogo
tqdm
ushuffle
# cudatoolkit~=11.8.0
# cudnn~=8.9.2.26
# cupti~=11.8.0